<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.2/dist/sweetalert2.min.css">
</head>
<body class="login-body">
    <aside class="people-img-login">
        <span class="action">Bora fazer umas comprinhas ?</span>
    </aside>
    <main class="login">
        <form action="">
            <h2 class="login-title">Login</h2>
            <div class="input-group">
                <label for="username" class="input-label">Usuário:</label>
                <input type="text" id="username" class="input-field login-field" placeholder="Digite seu usuário">
            </div>
            <div class="input-group">
                <label for="password" class="input-label">Senha:</label>
                <input type="password" id="password" class="input-field login-field" placeholder="Digite sua senha">
            </div>
            <button type="submit" class="login-button" id="login">Entrar</button>
            <p class="register-link">Não tem uma conta? <a href="cadastro.html">Registrar</a></p>
        </form>
    </main>
    <script src="../scripts/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>