.login-body{
    display: flex;
    height: 100vh;
}
.login {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    width: 50vw;
}
.login-title {
    text-align: center;
    color: #141414;
    margin-bottom: 20px;
}   
.input-field {
    width: 100%;
    margin-bottom: 5px;
    color: #141414;
    width: 300px;
    height: 40px;
    padding: 0 10px;
    border-radius: 20px;
    border: 2px solid #ccc;
    display: block;
}
.login-button {
    width: 100px;
    height: 40px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.login-button:hover {
    background-color: #fff;
    border: 1px solid #000000;
    color: #000000;
    transition: all 0.3s ease;
}
.register-link {
    text-align: center;
    color: #141414;
}
.people-img-login {
    background-image: url('../assets/img/simi-iluyomade-tvbxqXI5mmo-unsplash.jpg');
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
    margin: 0;
    
}